/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
    text-decoration: none;    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.container-lg {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* button */
.btn {
    padding: 5px 15px;
    text-decoration: none;
}

.blu {
    background-color: #0061ff;
    color: white;
}


/* header */
header {
    height: 80px;
    line-height: 76px;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;    
    z-index: 9999;
}

nav#main-nav ul {
    float: left;
}

nav#main-nav ul:last-child {
    float: right;
}

nav#main-nav li {
    display: inline-block;
    list-style: none;
}

nav#main-nav li:hover {
    border-bottom: 2px solid black;
}

#logo img {
    vertical-align: text-bottom;
}

/* lasciamo display inline-block se vogliamo estendere l'area cliccabile */
nav#main-nav a {
    margin: 0 18px;
    display: inline-block;
}

nav#main-nav a.btn {
    display: inline;
}

/* toglie la sottolineatura al logo e al pulsante inizia */
nav#main-nav li#logo:hover,
nav#main-nav li.last:hover {
    border-bottom: none;
}


/* jumbo */

#jumbotron {
    /* height: 500px; */
    background-color: #b4d0e7;
}

#jumbotron h1 {
    font-size: 76px;
    padding-top: 60px;
}


#jumbotron img {
    width: 100%;
}

#jumbotron .col-sx {
    width: 35%;
    margin-right: 5%;
}

#jumbotron .col-dx {
    width: 60%;
}

#jumbotron .container-lg {
    position: relative;
    bottom: -80px;
}

/* debug */

/* .debug header {
    background-color: lightgrey;
} */

/* .debug .container-lg {
    height: 100%;
    background-color: lightgrey;
} */

/* .debug .col-sx {
    height: 400px;
    background-color: red;
}

.debug .col-dx {
    height: 400px;
    background-color: blue;
} */


.debug main {
    height: 1000px;
    background-color: violet;
}



.debug footer {
    height: 400px;
    background: blue;
}

